.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  // a {
  //   padding: 4px 8px;
  //   border: 1px solid transparent;
  //   border-radius: 4px;
  // }
}