.layout-default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background: orange;
    padding: 10px 50px;

  }

  &__logo {
    font-size: 26px;
    font-weight: 700;

    a {
      color: #fff;
    }
  }

  .menu {
    display: flex;
    flex: 1;
    gap: 20px;

    &__link {
      font-size: 18px;
      font-weight: 600;
      padding: 3px 6px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;

      &--active {
        background: orangered;
      }
    }
  }

  &__main {
    flex: 1;
    height: 100%;
    padding: 60px 40px;
  }

  &__footer {
    text-align: center;
    min-height: 40px;
    background: orange;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
  }
}